* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.header, .container-one, .information-container{
    width: 70%;
    margin: auto;
}

.header {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 10px;
}

a, .title-secondary {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container-one {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.title-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: fit-content;
    padding: 7px 35px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.featured-image {
    background-color: gray;
    border: solid black;
    text-align: center;
    flex: 1;
}

.section-two {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-two h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 60px;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.information-box p {
    text-align: center;
    width: 175px;
    font-size: 18px;
    color: #797a7d;
}

.info-image {
    border: solid #3882F6 5px;
    height: 175px;
    width: 175px;
    border-radius: 10px;
}

.section-three {
    background-color: #E5E7EB;
    padding: 120px 0px;
}

.quote-box {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.signature {
    font-size: 22px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 10%;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.sign-up-block {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    gap:100px;
    width: 70%;
    padding: 40px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.action-button {
    margin-top: 10px;
    border: solid white;
    padding: 1px 30px;
    height: 30px;
    font-size: 14px;
}

.action-heading, .action-para{
    color: #E5E7EB;
}

